@tailwind base;
@tailwind components;
@tailwind utilities;


.active {
    color: white !important;
}

@font-face {
    font-family: "SfProRegular";
    src: url('./assets/fonts/sf-pro/SF-Pro-Display-Regular.otf');
}
@font-face {
    font-family: "SfProBold";
    src: url('./assets/fonts/sf-pro/SF-Pro-Display-Bold.otf');
}

body {
    font-family: SfProRegular, sans-serif;
}


*{
    text-decoration: none;
    list-style: none;

}